table {
	border: 5px solid gold;
}

td:hover {
	background-color: green;
	color: black;
}

tr, th {
	background-color: OliveDrab;
	color: black;
}

tr, td {
	background-color: darkgreen;
	color: orange;
}